{% load staticfiles %}

<!DOCTYPE html>
<head>
	<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="{% static 'style.css' %}" rel="stylesheet">
	<title>HabitatYou</title>
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top text-center">
		<div class="container-fluid">
    		<div class="navbar-header">
      		<a class="navbar-brand" href="#">
        		<img alt="Brand" src={% static "img/sm-logo.png" %}>
      		</a>
    		</div>
  		</div>
	</nav>
	<div>
	{% if user.is_authenticated %}
   	<h1><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></h1>
	{% endif %}   
   </div>
<main class="container">
{% block content %}
{% endblock %}
</main>

<!--repeated code for footer -->
</body>
</html>